{% extends 'base.html.twig' %}

{% block title %}
        {{ parent() }}Connexion
{% endblock %}
{% block h1 %}
    Connexion
{% endblock %}

{% block body %}
<h3>Promouvoir l'utilisateur </h3>
    {{ form(formPromate) }}
{% endblock %}